*{
    font-family: 'Share Tech Mono', monospace;
}
header {
    background-color: blanchedalmond;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

h1 {
    align-items: flex-end;
}

.mainCards {
    justify-content: center;
    text-align: center;
}

.myWork {
    background-image: linear-gradient(red, pink);
}


